# Виртуальное окружение (если оно в папке проекта)
venv/
env/
.env

# Python кэш и байт-код
__pycache__/
*.pyc

# Настройки IDE
.idea/
.vscode/

# Базы данных (если SQLite лежит локально)
*.sqlite3
*.db
sync.sh
